.post-item-card {
    padding: 40px 40px 15px 40px;
    box-sizing: border-box;
}

.post-item-text {
    padding-top: 25px;
}

.post-item-card p {
    margin-bottom: 0;
}

.post-item-title {
    margin-top: 0;
    text-align: center;
}