.user-item {
    
    min-height: 520px;
}

.user-item .card-item a {
    display: block;
}

.user-item .card .card-content {
    padding: 24px 24px 20px 24px;
}

@media only screen and (max-width: 1300px) {
    .user-item {
        min-height: 409px;
    }
}