.log-page {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    background-image: url('./images/log-background.jpg');
    
}

.log-page-form {
    display: flex;
    justify-content: center;
}