.user-profile-main-container{
    width: 100%;
    text-align: center;
}
.user-profile-container{
    display: inline-block;
    margin: 40px;
}
.user-profile-image-holder{
    display: block;
    width: 500px;
    margin-top: 30px;
    text-align: center;
}
.user-profile-image-holder img{
    min-width: 400px;
    border-radius: 100%;
}



.user-profile-info-holder p{
    position: relative;
    display: inline-block;
    padding: 10px 30px 11px 50px;
    background:#fff;
    font-size: 15px;
    border-radius: 20px;

}

.user-profile-info-holder p:first-child {
    margin-right: 30px;
}

.user-profile-post-num,
.user-profile-comm-num {
    position: absolute;
    width: 42px;
    top: 0;
    left: 0;
    margin-right: 10px;
    padding: 10px;
    color: #fff;
    background: #298c86;
    border-radius: 100%;
}


@media only screen and (max-width: 568px) {
    .user-profile-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .user-profile-image-holder img{
        min-width: 0;
        border-radius: 100%;
    }

    .user-profile-info-holder{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
  }

  @media only screen and (min-width: 569px) and (max-width: 960px){
    .user-profile-container{
        margin: 0;
    }

    .user-profile-image-holder img{
        min-width: 200px;
        border-radius: 100%;
    }
  }

  @media only screen and (min-width: 464px){
    .user-profile-info-holder{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  }
